
extends layout

block content

    .container-fluid#referenceContainer
        .row
            .col-sm-6
                br
                br
                p
                    .text-justify This map combines data on house pricing and earnings to show an indication of how affordable housing in England and Wales is.
            .col-sm-6
        h1 References:
        .row
            .col-sm-2 LSOA and TTW Geographic Boundaries:
            .col-sm-10
                a(href="https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page") Office for National Statistics
        .row
            .col-sm-2 Housing Sales data for years 2010-2014
            .col-sm-10
                a(href="http://data.gov.uk/dataset/land-registry-monthly-price-paid-data") Land Registry Data
        .row
            .col-sm-2 Annual Income:
            .col-sm-10
                a(href="http://www.ons.gov.uk/ons/rel/ashe/annual-survey-of-hours-and-earnings/index.html") Annual Survey of Hours and Earnings
